<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
</head>

<body>
	{{{ body }}}
</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/assets/js/burgers.js"></script>

</html>