<header>
  <img class="img img-thumbnail" src="/assets/img/burger.jpg" alt="Burger image with bite taken out">
  <h1>Chomp-The-Burger!</h1>
</header>

<form class="create-form">

  <div class="form-group">
    <input type="text" id="enterBurger" name="name">
  </div>

  <div class="form-group">
    <label for="chomp"></label><br>
    <input type="radio" name="chomp" value="1" checked> Chomped</br>
    <input type="radio" name="chomp" value="0"> CHOMP!
  </div>

  <button type="submit">Add Burger</button>
</form>

<h2>Burgers Ready To Be Chomped!</h2>

<ul>
  {{#each burgers}}
  {{#unless chomp}}
  {{> burgers/burger-block chomp=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Chomped Burgers!</h2>

<ul>
  {{#each burgers}}
  {{#if chomp}}
  {{> burgers/burger-block chomp=false}}
  {{/if}}
  {{/each}}
</ul>